# /etc/default/spamassassin
# Duncan Findlay

# WARNING: please read README.spamd before using.
# There may be security risks.

# Prior to version 3.4.2-1, spamd could be enabled by setting
# ENABLED=1 in this file. This is no longer supported. Instead, please
# use the update-rc.d command, invoked for example as "update-rc.d
# spamassassin enable", to enable the spamd service.

# Options
# See man spamd for possible options. The -d option is automatically added.

# SpamAssassin uses a preforking model, so be careful! You need to
# make sure --max-children is not set to anything higher than 5,
# unless you know what you're doing.

OPTIONS="--create-prefs --max-children=5 --username={{ spamassassin_user }} \
    --helper-home-dir={{ spamassassin_home_dir }} --syslog={{ spamassassin_syslog_facility }}"

# Pid file
# Where should spamd write its PID to file? If you use the -u or
# --username option above, this needs to be writable by that user.
# Otherwise, the init script will not be able to shut spamd down.
PIDFILE="{{ spamassassin_pidfile }}"

# Set nice level of spamd
{% if spamassassin_nice_level > 0 %}
NICE="--nicelevel {{ spamassassin_nice_level }}"
{% else %}
#NICE="--nicelevel 15"
{% endif %}

# Cronjob
# Set to anything but 0 to enable the cron job to automatically update
# spamassassin's rules on a nightly basis
{% if spamassassin_automatic_rule_update_enabled %}
CRON=1
{% else %}
CRON=0
{% endif %}
