check process spamassassin with pidfile {{ spamassassin_pidfile }}
    start program = "/usr/sbin/service {{ spamassassin_daemon }} start" with timeout 60 seconds
    stop program  = "/usr/sbin/service {{ spamassassin_daemon }} stop"
    group server
